.filter{
   display:grid;
   grid-template-columns:130px 1fr 185px;
   margin-left:2rem;
   margin-right:2rem;
   margin-top:1rem;
   @media(max-width: 800px){
      margin-left:.7rem;
      margin-right:.7rem;
   }
   @media(max-width:500px){
      grid-template-columns: 1fr;
   }
   .paymethod__select{
      background-color: #fff !important;
      grid-column: 3/4;
      font-family: poppins;
      padding:.5rem;
      outline:none;
      border:none;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px #e9e9e9;
      @media(max-width:500px){
         margin-top:1rem;
         grid-column: 1/2;
      }
   }
   .gender__select{
      background-color: #fff !important;
      font-family: poppins;
      padding:.5rem;
      outline:none;
      border:none;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px #e9e9e9;
   }
}